/* Articulos de abajo */

.small {
    grid-area: small;
    margin: 5rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 50%;

}

.small article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin-bottom: 3rem;
}

.small article h2,
img,
p {
    margin: .5rem 0;
    width: 70%;
    height: 50%;
    text-align: justify;
    color: radial-gradient(circle, #213242 0%, #3C5A71 50%, #517490  100%);

}

.small article h2{
    text-align: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: footer;
    padding: 1rem 2rem;
    background-color: #E1C888;
   
}

.footer-left {
    font-size: 0.9rem;
    white-space: nowrap;

}

.footer-right a {
    margin-left: 1rem;
    display: inline-block;
    font-size: 2rem;
    text-decoration: none;
    background: radial-gradient(circle, #213242 0%, #3C5A71 50%, #517490  100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-weight: 600;
    flex-wrap: nowrap; 

} 


.foto {
    height: 300px;
}




