/* MEDIAS QUERIES */

@media screen and (max-width: 1200px) {
    
    .grid-container {    
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "header header" "main aside" "main aside" 
        "article1 article1" "article2 article2" 
        "article3 article3"  "gallery gallery" "footer footer"; 
        font-size: 1rem;  
            
    }

    .header {
        align-items: center;
        justify-content: space-between;
        background-position: bottom;
        height: 150px; 
        background-image: url(../assets/lucia.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-size: 20%;
        background-position: 50% center;
    } 

    .header h1 {
        font-size: 1.5rem;
        margin: .5rem;
    }

    .header p {
        display: none;
    }

    nav {
        display: flex;
        justify-content: center;
        height: 50px;
    }

    ul {
        text-align: center;
        margin: 0;
        margin-bottom: 50px;
        
    }


    /* ARTICULO PRINCIPAL */

    main article header {
        font-size: 60%;
    }

    .author img {
        width: 8%;
    }

    main article {
        padding: .5rem 0 1rem 0 ;
        padding-right: 10px;
        text-align: center;

    }

    main article img {
        width: 100%;
    }

    main article h2 {
        text-align: center;
    }

    main article figcation {
        width: 100%;
        font-size: .9rem;
        
    }


    .author div p {
        font-size: .2rem;
      
    }

    main article>p {
        font-size: 1rem;
        width: 85%;

    }

    aside section {
        padding: 0 1rem 0 0;
        font-size: 50%;
    }

    .small {
        font-size: 50%;
    }

    .small article {
        width: 35%;
    }

    .small article h2,
    img,
    p {
        width: 90%;
    }

  

}

@media screen and (max-width: 720px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "header" "main" "main" "small" "aside" "gallery" "footer";
    }    

    .header {
        height: 250px;
        position: static;
    }

    .small {
        font-size: 55%;
        
    }

   

    .ad {
        height: 250px;
    }

    .small article {
        width: 80%;
        border-bottom: 1px solid #E3A92B
    }

  

    .small article img {
        width: 50%;
        height: 50%;
    }

    .footer-right i {
        font-size: 15px; 
    }
    
    .footer-left  {
        font-size: px; 
    }
    .footer-right {
        display: flex;
        
           
        }
    .title  {
        font-size: 1rem;
    }

    .list{
        padding-left: 5rem;
    }
    }
   
     